@font-face{font-family:'Inter';font-weight:100 900;src:url(fonts/Inter-400.woff2) format('woff2');}
@font-face{font-family:'Unbounded';font-weight:200 900;src:url(fonts/Unbounded-400.woff2) format('woff2');}
@font-face{font-family:'JetBrains Mono';font-weight:100 900;src:url(fonts/JetBrainsMono-500.woff2) format('woff2');}
